<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Guessing Game</title>
</head>
<body>
<div class="container">
    {% if guess %}
        <h1>My guess is {{ guess }}</h1>
        <form action="" method="POST">
                <input class="btn" type="submit" name="answer" value="Too big">
                <input class="btn" type="submit" name="answer" value="Too small">
                <input class="btn" type="submit" name="answer" value="You win!">
                <input type="hidden" name="min" value="{{ min }}">
                <input type="hidden" name="max" value="{{ max }}">
                <input type="hidden" name="guess" value="{{ guess }}">
        </form>
    {% endif %}
</div>


</body>
</html>