<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Guessing Game</title>
</head>
<body>
<div class="container">
    <h1>Guessing Game</h1>
    {% if guess %}
        <h2 class="answer">My guess is {{ guess }}</h2>
    {% else %}
        <h2>Think of a number between {{ min }} and {{ max }}:</h2>
    {% endif %}
    <form action="/" method="POST">
        <form action="" method="POST">
            {% if guess %}
                <input class="btn" type="submit" name="answer" value="too big">
                <input class="btn" type="submit" name="answer" value="too small">
                <input class="btn" type="submit" name="answer" value="you won">
                <input type="hidden" name="min" value="{{ min }}">
                <input type="hidden" name="max" value="{{ max }}">
            {% else %}
                <input type="hidden" name="min" value="1">
                <input type="hidden" name="max" value="1000">
                <br><br>
                <input class="btn" type="submit" name="start" value="Start">
            {% endif %}
        </form>
    </form>
    {% if result %}
        <h2>{{ result }}</h2>
    {% endif %}
</div>


</body>
</html>